@using System.ComponentModel.DataAnnotations
@using System.Text.Json;
@inject NotificationService NotificationService
@inject DialogService DialogService
@inject IJSRuntime JSRuntime
@inject RestConsumer RestConsumer
@inject LoadingService LoadingService
@page "/historical"

<RadzenButton Text="Reset" Click="@Reset" Style="margin-bottom: 20px;" Disabled="@isLoading" />
<RadzenButton Text="@Resource.Export" Click="@ExporToExcel" Style="margin-bottom: 20px; float: right" Icon="description" ButtonStyle="ButtonStyle.Success" Disabled="@isLoading" />
<RadzenDataGrid @ref="grid" SelectionMode="DataGridSelectionMode.Multiple" KeyProperty="Id" IsLoading="@isLoading" Count="@count" Data="@historicals"
                LoadData="@LoadData" FilterPopupRenderMode="PopupRenderMode.OnDemand" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                FilterMode="FilterMode.Simple" AllowSorting="true" AllowFiltering="true" AllowPaging="true" PageSize="10"
                PagerHorizontalAlign="HorizontalAlign.Center" TItem="Models.Historical" ColumnWidth="200px" LogicalFilterOperator="LogicalFilterOperator.And" GotoFirstPageOnSort="true">
    <Columns>
        <RadzenDataGridColumn TItem="Models.Historical" Property="Id" Filterable="false" Title="ID" Frozen="true" Width="50px" TextAlign="TextAlign.Center" SortOrder="SortOrder.Ascending" />
        <RadzenDataGridColumn TItem="Models.Historical" Property="HistoricalTypeEnum" Filterable="false" Title="@Resource.Type" Frozen="true" Width="50px" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="Models.Historical" Property="CreationDate" Filterable="false" Title="@Resource.DateOfCreation" Frozen="true" Width="50px" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="Models.Historical" Property="Description" Title="@Resource.Description" Frozen="true" Sortable="false" Width="50px" TextAlign="TextAlign.Center" >
            <Template Context="data">
                @switch (data.HistoricalTypeEnum)
                {
                    case HistoricalType.DocumentUpload:
                        <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="description" class="m-1" Click=@(async () => await JSRuntime.InvokeVoidAsync("open", data.Description, "_blank")) Text="" />
                        break;
                    case HistoricalType.IA:
                        var documentInfo = JsonSerializer.Deserialize<AnalysisResponse>(data.Description);
                        if (documentInfo is not null)
                        {
                            <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="description" class="m-1" Click=@(async () => await JSRuntime.InvokeVoidAsync("open", $"{ URLs.BLOB_STORAGE_URL }{ documentInfo.FileName }", "_blank")) Text="" />
                            
                            switch (documentInfo.DocumentType)
                            {
                                case DocumentType.Invoice:
                                    var invoiceData = JsonSerializer.Deserialize<Invoice>(documentInfo.Data);
                                    <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="info" class="m-1" Click=@(async () => await ShowInvoiceDialog(invoiceData, documentInfo.AdditionalData)) Text="" />
                                    break;
                                case DocumentType.GeneralText:
                                    var generalTextData = JsonSerializer.Deserialize<GeneralText>(documentInfo.Data);
                                    <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="info" class="m-1" Click=@(async () => await ShowGeneralDataDialog(generalTextData, documentInfo.AdditionalData)) Text="" />
                                    break;
                                case DocumentType.Other:
                                    <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="info" class="m-1" Click=@(async () =>await ShowOtherDialog(documentInfo.AdditionalData)) Text="" />
                                    break;
                            }
                        }
                        break;
                    case HistoricalType.UserInteraction:
                        @data.Description
                        break;
                }
            </Template>
        </RadzenDataGridColumn>
    </Columns>
    <LoadingTemplate>
        <RadzenProgressBarCircular ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    </LoadingTemplate>
</RadzenDataGrid>


@code {
    bool isLoading;
    int count;
    ODataEnumerable<Models.Historical> historicals;
    RadzenDataGrid<Models.Historical> grid;
    string? lastFilter;
    const int SKIP = 0;
    const int TAKE = 10;
    const string HISTORICAL_TYPE_PROP_NAME = "HistoricalType";
    const string HISTORICAL_TYPE_ENUM_PROP_NAME = "HistoricalTypeEnum";
    ReportRequest currentRequest;

    async Task LoadData(LoadDataArgs loadDataArgs)
    {
        isLoading = true;

        try
        {
            currentRequest = new ReportRequest
            {
                Sort = GetSort(loadDataArgs),
                Headers = new List<string> { "Id", Resource.Type, Resource.DateOfCreation, "URL", Resource.Description },
                Filter = loadDataArgs.Filters.FirstOrDefault()?.FilterValue.ToString(),
            };

            var logsResponse = await RestConsumer.PostResponse<LogResponse, LogRequest>(Endpoints.GET_LOGS, new LogRequest
            {
                Skip = loadDataArgs.Skip ?? SKIP,
                Take = loadDataArgs.Top ?? TAKE,
                Sort = GetSort(loadDataArgs),
                Filter = loadDataArgs.Filters.FirstOrDefault()?.FilterValue.ToString(),
            });

            foreach (var historical in logsResponse.Historicals)
            {
                historical.HistoricalTypeEnum = (HistoricalType)historical.HistoricalType;

                switch (historical.HistoricalTypeEnum)
                {
                    case HistoricalType.DocumentUpload:
                        historical.Description = $"{ URLs.BLOB_STORAGE_URL }{ historical.Description }";
                        break;
                    case HistoricalType.IA:
                        break;
                }
            }

            historicals = logsResponse.Historicals.AsODataEnumerable<Models.Historical>();
            count = logsResponse.TotalPages;
        }
        catch (Exception)
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Error", Detail = Resource.AnErrorOcurred });
        }

        isLoading = false;
    }

    private async Task Reset()
    {
        await LoadData(new LoadDataArgs());
        grid.Reset(true);
        await grid.FirstPage(true);
    }

    private SortDescriptor? GetSort(LoadDataArgs loadDataArgs)
    {
        var sort = loadDataArgs.Sorts.FirstOrDefault();

        if (sort is null) return null;

        return new SortDescriptor
        {
            Property = sort.Property.Equals(HISTORICAL_TYPE_ENUM_PROP_NAME) ? HISTORICAL_TYPE_PROP_NAME : sort.Property,
            SortOrder = sort.SortOrder
        };
    }

    private async Task ExporToExcel()
    {
        try
        {
            LoadingService.StartLoading();
            var reportResponse = await RestConsumer.PostResponse<ReportResponse, ReportRequest>(Endpoints.GENERATE_REPORT, currentRequest);
            LoadingService.StopLoading();
            await JSRuntime.InvokeVoidAsync("open", reportResponse.Url);
        }
        catch (Exception)
        {
            if (LoadingService.IsLoading) LoadingService.StopLoading();
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Error", Detail = Resource.AnErrorOcurred });
        }
    }

    async Task ShowGeneralDataDialog(GeneralText? generalText, string additionalData)
    {
        await DialogService.OpenAsync("General Data", ds =>
    @<div>
        Description: @(generalText?.Description ?? string.Empty)<br />
        Summary: @(generalText?.Summary ?? string.Empty)<br />
        Sentiment: @(generalText?.Sentiment ?? string.Empty) <br />
    </div>, new DialogOptions()
              {
                  CssClass = "custom-dialog-class",
                  WrapperCssClass = "custom-dialog-wrapper-class"
              });
    }

    async Task ShowInvoiceDialog(Invoice? invoice, string additionalData)
    {
        await DialogService.OpenAsync("General Data", ds =>
    @<div>
        Cliente: @(invoice?.ClientInfo ?? string.Empty)<br />
        Proveedor: @(invoice?.ProviderInfo ?? string.Empty)<br />
        Fecha: @(invoice?.Date ?? string.Empty) <br />
        Productos: <br />
        @foreach (var product in invoice?.Products ?? new List<Product>())
        {
            <div>
                Nombre: @(product.ProductName ?? string.Empty) <br />
                Cantidad: @(product.Quantity.ToString() ?? string.Empty) <br />
                Precio: @(product.UnitPrice.ToString() ?? string.Empty) <br />
                Total: @(product.Total.ToString() ?? string.Empty) <br />
            </div>
        }
        Total: @(invoice?.Total.ToString() ?? string.Empty) <br />
        AdditionalData: @(additionalData ?? string.Empty)
    </div>, new DialogOptions()
              {
                  CssClass = "custom-dialog-class",
                  WrapperCssClass = "custom-dialog-wrapper-class"
              });
    }

    async Task ShowOtherDialog(string additionalData)
    {
        await DialogService.OpenAsync("Unidentified", ds =>
    @<div>
        Description: @additionalData<br />
    </div>, new DialogOptions()
          {
              CssClass = "custom-dialog-class",
              WrapperCssClass = "custom-dialog-wrapper-class"
          });
    }
}